:root {
    --color-palette-1: #00E7D4;
    --color-palette-2: #00CEDD;
    --color-palette-3: #00B9E5;
    --color-palette-4: #27272A;
    --color-palette-5: #F9FAFB;
    --transition-1: all 200ms ease-in-out;
}


/*------------Top Nav------------*/
/*Logo*/
.logName {
    font-family: 'Caveat', cursive;
}

.logo {
    height: 80px;
    transition: all 200ms ease-in-out;
}

.logo:hover {
    transform: scale(1.05, 1.05);
}

.logName {
    transition: all 200ms ease-in-out;
}

.logName:hover {
    color: var(--color-palette-3) !important;
}

/*Search Form*/
.buttonSearchForm:hover {
    transition: all 200ms ease-in-out;
}

.buttonSearchForm:hover {
    background: var(--color-palette-2) !important;
}

/*Icon Section*/
.icon{
    fill: var(--color-palette-5);
    transition: all 150ms ease-in-out;
}

.icon:hover{
    fill: var(--color-palette-3);
}

/*Burger Menu*/
.burgerMenu{
    transition: all 150ms ease-in-out;
}

.burgerMenu:hover{
    background: var(--color-palette-4);
    border: 1px solid var(--color-palette-5);
}

.burgerMenuSVG{
    fill: var(--color-palette-5);
    transition: all 150ms ease-in-out;
}

.burgerMenu:hover .burgerMenuSVG{
    fill: var(--color-palette-5);
}

.burgerMenu:focus{
    background: var(--color-palette-4);
    border: 1px solid var(--color-palette-5);
}

.burgerMenu:focus .burgerMenuSVG{
    fill: var(--color-palette-5);
}

.burgerMenu:active{
    background: var(--color-palette-2);
    border: 1px solid var(--color-palette-5);
}

.burgerMenu:active .burgerMenuSVG{
    fill: var(--color-palette-4);
}

/*------------Bottom Nav------------*/

.bottomNavList{
    color: var(--color-palette-5);
    transition: all 150ms ease-in-out;
}

.bottomNavList:hover{
    color: var(--color-palette-3);
}


/*--------------------------------------------------------------------------*/

@media(max-width: 390px) {
    .logo {
        height: 55px;
    }

    .logName {
        font-size: 30px !important;
        padding-top: 5px !important;
    }

    .cartIcon{
        height: 28px;
    }



}